.R-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.image-R {
    display: block;
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}